<!--div class="container"-->
<div class="row">
  <div class="col-lg-3">

    </div>
    <div class="col-lg-6">
      <div class="card" style="padding: 15%;">
        <div class="header" style="text-align: center;">
          <h3>{{viewTitle}}</h3>
        </div>
        <div class="card-body">
                <a href="/tr"><button type="button" class="btn btn-lg btn-danger">Teacher</button></a>
                <a href="/st"><button type="button" class="btn btn-lg btn-danger">Student</button></a>
          </div>
          </div>
        
      </div>
    
    <div class="col-lg-3">
    
    </div>
    
</div>
  